/*variables*/

$color-primario: rgb(229, 172, 172); 
$seccionmain-texto: center;
$ancho-body: 100%;
$largo-body: 100vh;
$color-body:white;
$color-header:white;
$fontsize-seccionesmain: 1.2rem;
$pad-seccionesmain: 20px;
$width-seccionesmain: 80%;
$margin-seccionesmain: 0 auto;
$img-principal: 100vh;
$secccion-brenda: cover;
$textos-brenda: center;
$color-normabustos: rgba(229, 172, 172, 0.592);
$display-redes: inline-block;


